body {
  padding-top: 3%; 
  background-color: #4C566A;
}

h1 {
  font-family: sans-serif;
}

h3 {
  font-family: Calibri;
}

a {
  font-family: Calibri;
}

a:link {
  color: #81A1C1;
}

a:visited {
  color: #81A1C1;
}

a:hover {
  color: #88C0D0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  display: flex;
  font-size: 30px;
  color: #D8DEE9;
}

.table-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 9em;
  margin-top: 3em;
}

.vertical-list {
  display: flex;
  font-size: 22px;
  color: #D8DEE9;
}

.vertical-list > div {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
}

.search-input {
  display: flex;
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
  width: 500px;
  border: 5px;
  border-radius: 12px; 
  margin-right: 10px;
}

.search-button {
  display: flex;
  height: 30px;
  margin: 2px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
